
<div>
<div class ="container">
  <div class="card">
    <div class="card-body">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" [(ngModel)] = "newTask.title">
      <small id="emailHelp" class="form-text">put title of Task and HAVE FUN</small>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" [(ngModel)] = "newTask.description">
      <small id="emailHelp" class="form-text">put Description of Task and HAVE LUNCH</small>
    </div>
    <button (click) ="id==''?createTask():updateTask()" class ="btn btn-primary">{{id==''?'create':'Update'}}</button>
    </div>
  </div>
</div>
  <br>
  <br>
  <div class="row">


<div *ngFor= "let t of tasks" class="col-md-4 col-sm-4 col-lg-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{t.title}}</h5>
      {{t.description}}


    </div>
    <div class="card-body">
      <a (click) ="setUpdate(t)" class="card-body">Update</a>
      <a (click) ="deleteTask(t._id)" class="card-body">Delete</a>

    </div>


  </div>

</div>
</div>
